.navBar {
  margin-top: 3em;
  display: flex;
  gap: 5em;
  background-color: white;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  user-select: none;
}

.logo_text {
  font-family: monospace;
  font-weight: 700;
  font-size: 30px;
  color: rgb(19, 26, 23);
}

.logo img {
  width: 100px;
}

.links {
  display: flex;
  gap: 7px;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  user-select: none;
}

.link {
  background-color: rgb(9, 74, 165);
  padding: 5px 30px;
  transform: skewX(-20deg);
  color: white;
  cursor: pointer;
}

.link:hover {
  background-color: #333;
  border: solid 3px rgb(255, 255, 255);
  color: rgb(92, 247, 255);
  box-shadow: 3px 4px 1px rgb(25, 148, 255,0.686);
}