body {
  background: #20002c;
  background: -webkit-linear-gradient(to right, #cbb4d4, #20002c);
  background: linear-gradient(to right, #cbb4d4, #20002c);
  padding: 0;
  margin: 0;

}



/* nav bar */

.navBar {
  margin-top: 3em;
  display: flex;
  gap: 5em;
  justify-content: center;
  background-color: #0e0013e6;
}

.logo {
  display: flex;
  align-items: center;
  user-select: none;
}

.logo_text {
  font-family: monospace;
  font-weight: 700;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.logo img {
  width: 100px;
}

.links {
  display: flex;
  gap: 7px;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  user-select: none;
}

.link {
  background-color: rgb(100, 96, 135);
  padding: 5px 30px;
  transform: skewX(-20deg);
  color: white;
  cursor: pointer;
  border: solid 3px rgba(255, 255, 255, 0);
  box-shadow: 3px 4px 1px rgba(51, 203, 249, 0);

}

.link:hover {
  background-color: #0c0041;
  color: rgb(51, 203, 249);
  border: solid 3px rgb(255, 255, 255);
  box-shadow: 3px 4px 1px rgba(51, 203, 249, 0.781);
  font-weight: 700;
}





/* welcome  */

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10em 15em;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.welcome_title {
  text-align: center;
  color: rgb(234, 171, 255);
  font-size: 25px;
  width: 100%;
  margin: 0;
}

.welcome_title::after {
  content: '';
  display: block;
  border-bottom: solid #20002c46;
  width: 100%;
  margin-top: 20px;
}

.welcome_text {
  font-weight: lighter;
}


/* image section */
.ImageSection {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)) , url('/laptopimage.jpg');
  min-height: 450px;
  width: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  display: flex;
  align-items: center;
  justify-content: center;
  
}

.ImageSection_texts {
  width: 30%;
  color: white;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  
}

.ImageSection_texts h3 {
  text-align: center;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 25px;
}

.ImageSection_texts ul li {
  margin-top: 10px;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
}