body {
  /* background: #20002c;
  background: -webkit-linear-gradient(to right, #cbb4d4, #20002c);
  background: linear-gradient(to right, #cbb4d4, #20002c); */
  background: #757F9A;
  background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);
  background: linear-gradient(to right, #D7DDE8, #757F9A);

  padding: 0;
  margin: 0;

}


/* home */

.homeContainer {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('/fondo2.jpg');
  min-height: 750px;
  width: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  display: flex;
  align-items: center;
  justify-content: center;
}

.homeContent {
  color: cyan;
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;
  width: 50%;
}

.homeContent--text {
  text-align: center;
  font-size: 40px;
  color: yellow;
  font-weight: 700;
}



/* navbar */

.navBar {
  padding-top: 2em;
  display: flex;
  gap: 5em;
  justify-content: center;
  background-color: #050013;
}

.logo {
  display: flex;
  align-items: center;
  user-select: none;
}

.logo_text {
  font-family: monospace;
  font-weight: 700;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.logo img {
  width: 100px;
}

.links {
  display: flex;
  gap: 7px;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  user-select: none;
}

.link {
  background-color: rgb(100, 96, 135);
  padding: 5px 30px;
  transform: skewX(-20deg);
  color: white;
  cursor: pointer;
  border: solid 3px rgba(255, 255, 255, 0);
  box-shadow: 3px 4px 1px rgba(51, 203, 249, 0);

}

.link:hover {
  background-color: #0c0041;
  color: rgb(51, 203, 249);
  border: solid 3px rgb(255, 255, 255);
  box-shadow: 3px 4px 1px rgba(51, 203, 249, 0.781);
  font-weight: 700;
}





/* welcome  */

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5em 5em;
  padding: 15em 5em;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.welcome div {
  position: relative;
  bottom: 50px;
  width: min(650px, 90%);
}


.welcome_title {
  text-align: center;
  color: rgb(31, 5, 75);
  font-size: 55px;
  width: 100%;
  margin: 0;
  margin-bottom: 22px;

}

.welcome_title::after {
  content: '';
  display: block;
  border-bottom: solid #6e058346;
  width: 100%;
  margin-top: 20px;
}

.welcome_text {
  font-weight: 500;
  color: #36384d;
  line-height: 1.8em;
}


/* image section */
.ImageSection {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('/laptopimage.jpg');
  min-height: 650px;
  width: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

}

.ImageSection_texts {
  width: 40%;
  color: white;
  align-items: center;
  padding: 20px;
  border-radius: 8px;

}

.ImageSection_texts h3 {
  color: rgb(51, 203, 249);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
}

.ImageSection_texts ul li {
  list-style-type: none;
  margin-top: 5px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ImageSection_texts ul li::before {
  content: "";
  position: relative;
  right: 25px;
  top: 18px;
  display: block;
  background-color: rgb(51, 203, 249);
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.ImageSection_texts ul li:nth-child(2) {
  animation-delay: 200ms;
}

.ImageSection_texts ul li:nth-child(3) {
  animation-delay: 400ms;
}

.ImageSection_texts ul li:nth-child(4) {
  animation-delay: 600ms;
}

.ImageSection_texts ul li:nth-child(5) {
  animation-delay: 800ms;
}







/* techs */


.techContiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
  margin: 5em auto;
  padding: 10em 5em;

}

.tech_title--container {
  text-align: center;
  margin-bottom: 7em;
  width: 50%;
  font-weight: 500;
}

.tech_title--container p {
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
}

.tech_title {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(31, 5, 75);
  font-size: 40px;
}

.techContent {
  position: relative;
  display: flex;
  flex: 1 1 0;
  flex-wrap: wrap;
  gap: 3em;
  bottom: 50px;
  width: 70%;
  justify-content: center;
  align-items: center;
}


.tech_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  width: 130px;
  height: 170px;
  padding: 7px 7px;
  border-radius: 5px;
  gap: 1px;
  box-shadow: 4px 5px 2px rgba(0, 0, 0, 0.482);
}


.tech_img img {
  width: 80px;
}

.tech_name {
  font-family: 'Courier New', Courier, monospace;
  color: cyan;
  font-weight: 700;
}





/* about */

.aboutContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4em;
  padding: 15em 5em;
  background-color: #010122;
  position: relative;
  z-index: 1;
}

.aboutContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #010122;
  opacity: 0.5;
  background-image: radial-gradient(#45c6f7 0.5px, transparent 0.5px), radial-gradient(#45c6f7 0.5px, #010122 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

/* style 2
.aboutContainer::before {
  background-color: #010122;
  opacity: 0.1;
  background-image: linear-gradient(#45c6f7 1px, transparent 1px), linear-gradient(to right, #45c6f7 1px, #010122 1px);
  background-size: 20px 20px;
}
 */
.aboutContainer_content {
  display: flex;
  gap: 3em;
  width: 70%;
  padding: 20px 30px;
  position: relative;
  z-index: 1;
  border: 4px solid #361da622;
  border-radius: 5px;
  background-color: rgba(7, 66, 113, 0.14);

}


.about_image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: auto;
}


.about_image img {
  width: 100%;
  height: auto;
  border: 7px solid white;
  animation: appearright linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}


.about_texts p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.about_texts_main {
  line-height: 2em;
}

.title-content {
  margin: 0;
}

.title-content ol {
  list-style: none;
  --height: 2rem;
  height: var(--height);
  line-height: var(--height);
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin: 0;
}

.title-content ol li {
  animation: slice calc(5*4*2s) steps(5) infinite;

}

.title-content {
  background-color: #010122;
  padding: 7px 5px;
  border-radius: 5px;

}



/* .title-content ol li {
  animation: slice-up 12s infinite; 

} */

.title-content ol li span {
  font-size: 30px;
  font-weight: 600;
  background: linear-gradient(20deg, rgb(174, 174, 174), rgb(255, 255, 255));
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  white-space: nowrap;

  width: 0%;
  display: inline-block;
  border-right: .3rem solid #fff;
  animation: cursor .8s step-end infinite,
    typing 4s steps(18) infinite alternate;
}

.title-content ol li span.si {
  background: linear-gradient(20deg, rgb(51, 145, 253), rgb(160, 27, 255));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-content ol li span.wb {
  background: linear-gradient(20deg, rgb(251, 53, 53), rgb(177, 0, 217));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-content ol li span.qa {
  background: linear-gradient(20deg, rgb(255, 255, 255), rgb(27, 255, 255));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-content ol li span.hp {
  background: linear-gradient(20deg, rgb(255, 124, 1), rgb(255, 209, 27));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.about_texts h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(51, 203, 249);
  font-weight: 700;
}

.about_texts .ExperienceSummary::after {
  content: '';
  display: block;
  border: 2px solid;
  color: #361da642;
  margin-top: 5px;
}

.about_texts p span {
  color: rgb(255, 238, 0);
}

.about_texts .experience {
  /*  background-color: rgba(7, 66, 113, 0.14); */
  border-radius: 5px;
  padding: 4px 10px;
}



/* footer */
footer {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.footerContent {
   width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 4em;
  padding: 7em 5em;
  background-color: #050013;
  position: relative;
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
}

.textsFooter {
  color: white;
  width: 20%;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.image img {
  width: 50px;
  color: rgb(255, 255, 255);
}


.footerLinks {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footerLinks a {
  text-decoration: none;
  color: white;
}


/* animations */


.appear {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 50%;
}

.appearScale {
  animation: appearScale linear;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}

.appearleft {
  animation: appearleft linear;
  animation-timeline: view();
  animation-range: entry 0 cover 50%;
}

.appearright {
  animation: appearright linear;
  animation-timeline: view();
  animation-range: entry 0 cover 55%;
}

.clickpath {
  animation: clickpath linear;
  animation-timeline: view();
  animation-range: entry 0 cover 20%;
}

.fadeout {
  animation: fadeout linear;
  animation-timeline: view();
  animation-range: exit -150px;

}

.fadeoutImge {
  animation: fadeoutImge linear;
  animation-timeline: view();
  animation-range: exit -10px;

}


@keyframes appear {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes appearScale {

  0% {
    opacity: 0;
    scale: 0.5;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes appearleft {

  0% {
    opacity: 0;
    transform: translateX(-100px);
    filter: blur(5px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
    filter: blur(0);
  }
}

@keyframes appearright {

  0% {
    opacity: 0;
    transform: translateX(200px)
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }

}

@keyframes clickpath {

  0% {
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
  }

  100% {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

@keyframes fadeout {

  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}

@keyframes fadeoutImge {

  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

@keyframes slice {

  100% {
    transform: translateY(-500%);
  }

}


@keyframes slice-up {

  0%,
  10% {
    transform: translateY(0%);
  }

  15%,
  25% {
    transform: translateY(-100%);
  }

  30%,
  40% {
    transform: translateY(-200%);
  }

  45%,
  55% {
    transform: translateY(-300%);
  }

  60%,
  70% {
    transform: translateY(-400%);
  }

}


@keyframes cursor {
  50% {
    border-color: transparent;
  }
}


@keyframes typing {

  0%,
  10% {
    width: 0%;
  }

  70%,
  100% {
    width: 100%;
  }
}